body {
    background-color: #121212;
    color: white;
}

.kbheader {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.kbheader:hover {
    color: rgb(175, 175, 175);
}

.kbnavrect {
  border-radius: 25px;
  background-color: #191919;
  padding: 10px;
}

html, body {
  height: 100%;
}

.center1element {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
