body {
    background-color: #121212;
    color: white;
}

.kbheader {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.kbheader:hover {
    color: rgb(175, 175, 175);
}

.kbnavrect {
  border-radius: 25px;
  background-color: #191919;
  padding: 10px;
}